#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.pomodoro {
  height: 300px;
  margin-left: 1rem;
  margin-top: -2rem;
}
body {
  background: url("https://images.pexels.com/photos/34088/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.timer {
  size: 20px;
  margin-left: 1rem;
}

.buttons {
  margin-bottom: 2rem;
}
.lancement {
  margin-top: 1rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  gap: 10px;
}
.socialPause {
  color: black;
  font-size: 1.5rem;
  margin-right: 2rem;
}
